<div class="container-fluid">
  <div class="row bg-cstm">
    <div class="col-lg-2"></div>
    <div class="col-xxl-5 col-xl-5 col-lg-5 col-sm-12">
      <marquee>
        <p class="fw-bold"><span class="badge red"
            style="background-color: red; font-family:'Times New Roman', Times, serif, sans-serif;">New</span> Consumers
          are required to deposit the exact bill amount in UPCL Central account of HDFC through Virtual Account Number
          through RTGS/NEFT mode to get the timely credit of payment. <a href="#" target="__blank"
            style="color:white;text-decoration: underline;">Click Here for more details</a>.</p>
      </marquee>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-sm-12 mt-lg-1 mb-sm-2 cstmHeader">
      <p class="mySlides1 fw-bold text-xs-center lnr lnr-phone-handset" id="myslides1" style="display: block;">&nbsp;Help Line Number :
        1912 (Call Us)</p>
      <p class="mySlides1 fw-bold text-xs-center lnr lnr-phone-handset" id="myslides1" style="display: none;">&nbsp;Help Line Toll Free
        Number : 1800 419 0405</p>
      <p class="mySlides1 fw-bold text-xs-center lnr lnr-phone-envelope" id="myslides1" style="display: none;">&nbsp;General Complaint:
        customercare@upcl.org</p>
      <p class="mySlides1 fw-bold text-xs-center lnr lnr-phone-envelope" id="myslides1" style="display: none;">&nbsp;Online Payment :
        epayment@upcl.org</p>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm bg-white rounded">
        <div class="container">
          <img class="navbar-brand img-fluid" src="../../assets/img/logo.png">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mt-xxl-3" id="navbarSupportedContent">
            <ul class="navbar-nav border-bottom cstm-block-inline">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['']"
                  routerLinkActive="router-link-active">Home Page</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  New Connection Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">New Electricty
                      Connection Registration</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Before You apply
                      for New Electricty Connection</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">New Connection
                      Status</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">New Connection
                      Charges</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Fixed Cost
                      Estimation Calculator</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Load
                      Calculator</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" routerLinkActive="router-link-active"
                  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Online Payment Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">View
                      Bill/Payment</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Bill Payment
                      Receipt</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">New Connection
                      Payment</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">View NSC Payment
                      Receipt</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Other
                      Miscellaneous Payment</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">View Other Misc
                      Payment Receipt</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" routerLinkActive="router-link-active"
                  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Complaint/Request Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" [routerLink]="['login']" routerLinkActive="router-link-active">Complaint
                      Registration</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Service Request
                      Registration</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Complaint
                      Status</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">complaint
                      handling procedure</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Complaint
                      Redressal Forum</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" routerLinkActive="router-link-active"
                  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Support Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Register for Bill
                      Alerts</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Mobile App
                      Download</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">SMS Services</a>
                  </li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Form
                      Downloads</a></li>
                  <li><a class="dropdown-item" [routerLink]="['']" routerLinkActive="router-link-active">Self Service
                      FAQs</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>  
</div>