
<div class="row">
  <div class="col-lg-4 col-xxl-4 col-xl-4 col-md-4 col-sm-0 col-xs-0"></div>
  <div class="col-lg-4 col-xxl-4 col-xl-4 col-md-4 col-sm-12 col-xs-12">
    <mat-card>
      <mat-card-header>
        <div class="row">
          <div class="col">
            <div class="row mb-2">
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <span class="text-white"><span>*</span>{{'Note: The Serviceis currently available for all LT consumer of UPCL' | translate}}</span>
              </div>
            </div>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="row" style="padding-left: 5rem;padding-right: 5rem;">
          <div class="col">
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Account Number</mat-label>
                  <input matInput placeholder="Ex. 878788787878">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Service Connection Number</mat-label>
                  <input matInput placeholder="Ex. 67676767RS989899">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Mobile Number</mat-label>
                  <input matInput placeholder="Ex. 9898989592">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Email Address</mat-label>
                  <input matInput placeholder="Ex. james@gmail.com">
                </mat-form-field>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col">
                <mat-form-field class="example-full-width" appearance="legacy">
                  <mat-label>Emmail Address</mat-label>
                  <input matInput placeholder="Ex. ">
                </mat-form-field>
              </div>
            </div> -->
            <div class="row">
              <div class="col text-end">
                <button mat-raised-button color="primary">Submit</button>
              </div>
              <div class="col">
                <button mat-raised-button color="primary">Back</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-4 col-xxl-4 col-xl-4 col-md-4 col-sm-0 col-xs-0"></div>
</div>
<div class="footer" style="background-color: #0A66AB;">
  <div class="container-fluid w-100">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-12">
        <div class="wow fadeInLeft mt-3" data-wow-delay="0.1s">
          <div style="text-align:center;">
            <strong style="color: white;">
              <p><a href="/wss/PrivacyPolicy.jsp" style="color: white;">Privacy Policy</a> | <a
                  href="/wss/disclaimer.jsp" style="color: white;">Disclaimer</a> | <a
                  href="https://www.upcl.org/contact-us/" target="__blank" style="color: white;">Contact Us</a> | <a
                  href="/wss/FeedbackM.htm" style="color: white;">Online Services Feedback</a></p>
            </strong>
            <p><strong style="color: white;">©Copyright 2021- Uttarakhand Power Corporation Limited</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>