<div class="container-fluid slide1 bg-light">
  <div class="row">
    <div class="col mx-0 px-0">
      <div class="row mt-lg-5 mt-2 mb-2 mx-0 px-0 ps-lg-5 px-lg-5" style="height: 60vh;">
        <div class="col-xxl-2"></div>
        <div class="col-xxl-4 col-lg-6 col-md-5 col-sm-12 fadeIn ps-5 pe-5">
          <div class="card text-left fadeInDown">
            <div class="card-body">
              <div class="row">
                <div class="col lic text-end"><p class="text-end">SIGN IN</p></div>
                <div class="col lic"><a [routerLink]="['/signup']" routerLinkActive="router-link-active" class="">SIGN UP</a></div>
              </div>
              <div class="row mb-3">
                <div class="col text-center">
                  <i style="color: #666" class="fa fa-2x fa-user"
                  aria-hidden="true"></i>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-1"></div>
                <div class="col align-item-center">
                  <div class="form-group">
                    <input type="text" class="form-control text-center" name="" id="" aria-describedby="helpId" placeholder="Enter Registered Mobile No/LoginID">
                  </div>
                </div>
                <div class="col-1"></div>
              </div>
              <div class="row mb-3">
                <div class="col text-center">
                  <h4>I have Password</h4>
                </div>
              </div>
              <div class="row text-center mb-2">
                <div class="col-2"></div>
                <div class="col">
                  <div class="icon-conatiner">
                    <a name="" id="" class="text-white" [routerLink]="['/pages']" routerLinkActive="router-link-active"  role="button">GENRATE OTP</a>
                  </div>
                </div>
                <div class="col-2"></div>
              </div>
            </div>
            <div class="card-footer" style="height: 4rem; padding-top: 1rem; background-color: #f9f9f9">
              <div class="row">
                <div class="col text-end lic"><a href="javascript:void(0)">New User ?</a></div>
                <div class="col lic"><a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active" >Forgot Password?</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-lg-6 col-md-5 col-sm-12">
          <div class="card shadow-sm bg-white rounded-3" style="background: linear-gradient(to right, #ffcc66 0%, #ffff99 100%);
            ">
            <div class="card-body">
              <h5 style="background: #0A66AB;color: white;
                    " class="card-title text-center h-100 p-2">Benefits Of Web Portal
                Registration</h5>
              <ul class="p-3">
                <li class="mb-3">24*7 Bill Payment Facility</li>
                <li class="mb-3">Detailed Bill Preview / Download</li>
                <li class="mb-3">5 Year Bill / Payment History</li>
                <li class="mb-3">Complaint / Service Request Registration</li>
                <li class="mb-3">Complaint / Request Tracking</li>
                <li>Multiple Electricity Account Tracking Using Single Mobile Number</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xxl-2"></div>
      </div>
      <div class="footer" style="background-color: #0A66AB;">
        <div class="container-fluid w-100">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-12">
              <div class="wow fadeInLeft mt-3" data-wow-delay="0.1s">
                <div style="text-align:center;">
                  <strong style="color: white;">
                    <p><a href="/wss/PrivacyPolicy.jsp" style="color: white;">Privacy Policy</a> | <a
                        href="/wss/disclaimer.jsp" style="color: white;">Disclaimer</a> | <a
                        href="https://www.upcl.org/contact-us/" target="__blank" style="color: white;">Contact Us</a> | <a
                        href="/wss/FeedbackM.htm" style="color: white;">Online Services Feedback</a></p>
                  </strong>
                  <p><strong style="color: white;">©Copyright 2021- Uttarakhand Power Corporation Limited</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
