.datatable,
.datatable > div,
.datatable.fixed-header .datatable-header .datatable-header-inner {
  height: 100%;
}
@media (max-width: 576px) {
  .cstmWidth{
    width: 100% !important;
  }
  td{
    padding: 0 !important;
    margin: 0 !important;
  }
  table > tbody > tr:nth-child(n) > td > table > tbody > tr:nth-child(2) > td:nth-child(1){
    width: 1rem !important;
  }
  table > tbody > tr:nth-child(n) > td > table > tbody > tr:nth-child(2) > td:nth-child(4){
    width: 8rem !important;
  }
  td>mat-form-field{
    width: 2.5rem !important;
  }
}

mat-row, mat-footer-row {
  min-height: 35px;
}
mat-card{
  min-height: 70vh;
  box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%) !important;
  background-color: rgb(238, 238, 238);
}
*td{
  text-align: center;
  // width: 2rem !important;
  // padding: 0.5rem !important;
}
