@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playfair+Display&display=swap');
.datatable,
.datatable > div,
.datatable.fixed-header .datatable-header .datatable-header-inner {
  height: 100%;
}
@media (max-width: 576px) {
  .cstmWidth {
    width: 100% !important;
  }
}
mat-card{
  box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%) !important;
}
mat-row,
mat-footer-row {
  min-height: 35px;
}
mat-card {
  min-height: 70vh;
}
.rotingtxt {
  -webkit-transform: rotate(331deg);
  -moz-transform: rotate(331deg);
  -o-transform: rotate(331deg);
  transform: rotate(331deg);
  font-size: 5.5em;
  color: rgb(82 75 75 / 17%);
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  bottom: 18rem;
  left: -1rem;
  line-height: 4.5rem;
}
td {
  padding: 0.3rem !important;
}