<div class="row">
  <div class="col-lg-3 col-xxl-3 col-xl-3 col-md-3 col-sm-0 col-xs-0"></div>
  <div
    class="col-lg-6 col-xxl-6 col-xl-6 col-md-6 col-sm-12 col-xs-12"
  >
    <mat-card>
      <mat-card-content style="padding-left: 1rem; padding-right: 1rem">
        <div class="row border">
          <p class="rotingtxt text-center">UPCL<br />ONLINE RECIEPT</p>
          <div class="col">
            <div
              class="row border"
              style="background-color: #d1e4ee !important; border: 1.5px solid #b6d4e3 !important"
            >
              <div
                class="
                  col-3
                  border-end
                  pt-1
                  text-center
                "
                style="border: 1.5px solid #b6d4e3 !important"
              >
                <img src="../../../../assets/img/logoWText.png" alt="" />
              </div>
              <div class="col-9 text-center pt-2">
                <span class="h5">Uttarakhand Power Corporation Ltd.</span><br />
                <span>Bill payment Recieipt</span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <div class="responsive-table rounded-top">
                  <!-- <div class="text-center border latestBill">
          <span>{{'Latest Bill' | translate}}</span>
        </div> -->
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>Receipt No</td>
                        <td>Office No</td>
                        <td>Payment Date</td>
                      </tr>
                      <tr>
                        <td>95759132101010021</td>
                        <td>{{ 'Bazpur' | uppercase }}</td>
                        <td>13-Mar-2021</td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          Service Connection No / Account No: <b>361SR03200796 / 41801600441</b>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-left">Name Of Consumer (Mr/Ms/M/S)</td>
                        <td class="text-end">{{ 'Mr Sher Mohhamad' | uppercase }}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-left">Total Dues</td>
                        <td class="text-end">4152.00</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-left">Recd. Payment Details</td>
                        <td class="text-end">Mode: Cash</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-left">Energy Charge</td>
                        <td class="text-end">1502.77</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-left">Electricty Duty</td>
                        <td class="text-end">82.05</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-left">Surcharge</td>
                        <td class="text-end">0.00</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-left">TCS(Tax Collection At Source)</td>
                        <td class="text-end">0.0</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-left">Others</td>
                        <td class="text-end">2115.18</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-left">Total Paid</td>
                        <td class="text-end">₹ 3700.00</td>
                      </tr>
                      <tr>
                        <td colspan="3" class="text-center">(Rupees Three Seven Zero Zero Only)</td>
                      </tr>
                      <tr>
                        <td colspan="3" class="text-center">
                          <span
                            ><sup>*</sup>Note: All Payments Mode Are Subjected To Realisation Of The
                            Same in UPCL Bank Account.</span
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <!-- <div class="col-lg-2 col-xxl-2 col-xl-2 col-md-2 col-sm-0 col-xs-0"></div> -->
          <div class="col text-end">
            <img src="../../../../assets/img/reciept.png" style="display: none;" alt="" id="printImg">
            <a mat-raised-button color="primary"  (click)="printImg()">Print</a>
          </div>
          <div class="col">
            <a mat-raised-button color="primary" href="../../../../assets/img/reciept.png" download
              >Download</a
            >
          </div>
          <!-- <div class="col-lg-2 col-xxl-2 col-xl-2 col-md-2 col-sm-0 col-xs-0"></div> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-3 col-xxl-3 col-xl-3 col-md-3 col-sm-0 col-xs-0"></div>
</div>
<div class="footer" style="background-color: #0a66ab">
  <div class="container-fluid w-100">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-12">
        <div class="wow fadeInLeft mt-3" data-wow-delay="0.1s">
          <div style="text-align: center">
            <strong style="color: white">
              <p>
                <a href="/wss/PrivacyPolicy.jsp" style="color: white">Privacy Policy</a> |
                <a href="/wss/disclaimer.jsp" style="color: white">Disclaimer</a> |
                <a href="https://www.upcl.org/contact-us/" target="__blank" style="color: white"
                  >Contact Us</a
                >
                | <a href="/wss/FeedbackM.htm" style="color: white">Online Services Feedback</a>
              </p>
            </strong>
            <p>
              <strong style="color: white"
                >©Copyright 2021- Uttarakhand Power Corporation Limited</strong
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
