<mat-card>
  <mat-card-content>
    <!-- <mat-card-title>Table with sorting</mat-card-title> -->
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Domestic" #input>
    </mat-form-field>
    <div class="responsive-table">
      <mat-table #table [dataSource]="dataSource" matSort>
        <!-- Name Column -->
        <ng-container matColumnDef="accountNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header ali> Account No. </mat-header-cell>
          <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
            <div class="row w-100">
              <div class="col d-lg-none"><span class="header-label">Account No :</span></div>
              <div class="col p-0 text-center"><a class="text-primary" (click)="onRowClick(row)" style="cursor: pointer;">{{row.accountNumber}}</a></div>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="serviceConnNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header ali> Service Acc No. </mat-header-cell>
          <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
            <div class="row w-100">
              <div class="col d-lg-none"><span class="header-label">Service Acc No. :</span></div>
              <div class="col p-0 text-center">{{row.serviceConnNumber}}</div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header ali> Name </mat-header-cell>
          <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
            <div class="row w-100">
              <div class="col d-lg-none"><span class="header-label">Name :</span></div>
              <div class="col p-0 text-center">{{row.name}}</div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header ali> Address </mat-header-cell>
          <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
            <div class="row w-100">
              <div class="col d-lg-none"><span class="header-label">Address :</span></div>
              <div class="col p-0 text-center">{{row.address}}</div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="serviceStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header ali> Service Status </mat-header-cell>
          <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
            <div class="row w-100">
              <div class="col d-lg-none"><span class="header-label">Service Status :</span></div>
              <div class="col p-0 text-center">{{row.serviceStatus}}</div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="connectionType">
          <mat-header-cell *matHeaderCellDef mat-sort-header ali> Connection Type </mat-header-cell>
          <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
            <div class="row w-100">
              <div class="col d-lg-none"><span class="header-label">Connection Type :</span></div>
              <div class="col p-0 text-center">{{row.connectionType}}</div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dueDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header ali> Due Date </mat-header-cell>
          <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
            <div class="row w-100">
              <div class="col d-lg-none"><span class="header-label">Due Date :</span></div>
              <div class="col p-0 text-center">{{row.dueDate}}</div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="netPaybleAmount">
          <mat-header-cell *matHeaderCellDef mat-sort-header ali> Net Payble Amount </mat-header-cell>
          <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
            <div class="row w-100">
              <div class="col d-lg-none"><span class="header-label">Net Payble Amount :</span></div>
              <div class="col p-0 text-center">{{row.netPaybleAmount}}</div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="paymentStatus">
          <mat-header-cell *matHeaderCellDef mat-sort-header ali> Payment Status </mat-header-cell>
          <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
            <div class="row w-100">
              <div class="col d-lg-none"><span class="header-label">Payment Status :</span></div>
              <div class="col p-0 text-center">
                <div class="mt-2">
                  <span class="badge rounded-pill w-100" [ngClass]="{'bg-success': row.paymentStatus === 'Paid', 'bg-warning': row.paymentStatus === 'Over Due', 'bg-danger': row.paymentStatus === 'Disconnected'}" style="height: 1.5rem;width: 5.5rem !important;
                  padding-top: 0.5rem;">{{row.paymentStatus}}</span>
                </div>
              </div>
            </div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="billLink">
          <mat-header-cell *matHeaderCellDef mat-sort-header ali> Action </mat-header-cell>
          <mat-cell *matCellDef="let row" class="bg-cstmOrange w-100">
            <div class="row w-100">
              <div class="col d-lg-none"><span class="header-label">Action :</span></div>
              <div class="col p-0 text-center"><span *ngIf="row.paymentStatus === 'Paid'"><a class="link text-center" style="cursor: pointer;">View Bill</a><br><a class="link" style="cursor: pointer;">View Receipt</a></span>
            <span *ngIf="row.paymentStatus === 'Over Due'"><a class="link text-center" style="cursor: pointer;">Pay Bill</a></span>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        <mat-row *matNoDataRow>
          <mat-cell colspan="4">No data matching the filter "{{input.value}}"</mat-cell>
        </mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
