<div class="footer" style="background-color: #afd6f5;">
  <div class="container-fluid w-100">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-12">
        <div class="wow fadeInLeft mt-3" data-wow-delay="0.1s">
          <div style="text-align:center;">
            <strong style="color: rgb(78, 75, 75);">
              <p><a href="/wss/PrivacyPolicy.jsp" style="color: rgb(78, 75, 75);">Privacy Policy</a> | <a
                  href="/wss/disclaimer.jsp" style="color: rgb(78, 75, 75);">Disclaimer</a> | <a
                  href="https://www.upcl.org/contact-us/" target="__blank" style="color: rgb(78, 75, 75);">Contact Us</a> | <a
                  href="/wss/FeedbackM.htm" style="color: rgb(78, 75, 75);">Online Services Feedback</a></p>
            </strong>
            <p><strong style="color: rgb(78, 75, 75);">©Copyright 2021- Uttarakhand Power Corporation Limited</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
