<div class="row" style="min-height: 70vh;">
  <div class="col-lg-4 col-xxl-4 col-xl-4 col-md-4 col-sm-0 col-xs-0"></div>
  <div class="col-lg-4 col-xxl-4 col-xl-4 col-md-4 col-sm-12 col-xs-12">
    <mat-card>
      <mat-card-content style="padding-top: 3rem;padding-bottom: 4rem;">
        <div class="row">
          <div class="col-lg-2 col-xxl-2 col-xl-2 col-md-2 col-sm-0 col-xs-0"></div>
          <div class="col-lg-8 col-xxl-8 col-xl-8 col-md-8 col-sm-12 col-xs-12">
            <mat-form-field appearance="legacy">
              <mat-label>Login Id</mat-label>
              <input matInput placeholder="Enter Login Id">
            </mat-form-field>
          </div>
          <div class="col-lg-2 col-xxl-2 col-xl-2 col-md-2 col-sm-0 col-xs-0"></div>
        </div>
        <div class="row">
          <div class="col-lg col-xxl col-xl col-md col-sm col-xs">
            <table>
              <tbody>
                <tr>
                  <td scope="row" class="text-center"><button mat-raised-button color="primary">Check User</button></td>
                  <td><button mat-raised-button color="primary">Back</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-4 col-xxl-4 col-xl-4 col-md-4 col-sm-0 col-xs-0"></div>
</div>
<div class="footer" style="background-color: #0A66AB;">
  <div class="container-fluid w-100">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-12">
        <div class="wow fadeInLeft mt-3" data-wow-delay="0.1s">
          <div style="text-align:center;">
            <strong style="color: white;">
              <p><a href="/wss/PrivacyPolicy.jsp" style="color: white;">Privacy Policy</a> | <a
                  href="/wss/disclaimer.jsp" style="color: white;">Disclaimer</a> | <a
                  href="https://www.upcl.org/contact-us/" target="__blank" style="color: white;">Contact Us</a> | <a
                  href="/wss/FeedbackM.htm" style="color: white;">Online Services Feedback</a></p>
            </strong>
            <p><strong style="color: white;">©Copyright 2021- Uttarakhand Power Corporation Limited</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>