<mat-card>
  <mat-card-content>
    <!-- <mat-card-title></mat-card-title>	 -->
    <!-- <div class="row mb-4">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12 text-end">
        <button mat-raised-button color="accent">{{'Delete My Account' | translate}}</button>
      </div>
    </div> -->
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="33.3" fxFlex="100">
        <mat-card>
          <mat-card-content>
            <!-- <mat-card-title>Form with grid</mat-card-title> -->
            <!-- <mat-card-subtitle
              >use this class <code>.row</code> to the fxLayout="row" and <code>p-10</code> to the
              fxFlex div</mat-card-subtitle -->
            <!-- > -->
            <!-- ============================================================== -->
            <!-- column -->
            <!-- ============================================================== -->
            <form class="basic-form" [formGroup]="options">
              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <!-- column -->
                <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                  <mat-form-field>
                    <input matInput type="password" placeholder="{{'Enter your old password' | translate}}" readonly
                      [formControl]="old_password" required />
                    <mat-error *ngIf="old_password.invalid">{{ getErrorMessageoldPassword() | translate}}</mat-error>
                  </mat-form-field>
                </div>
                <!-- column -->
              </div>
              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                  <mat-form-field>
                    <input matInput placeholder="{{'Enter your new password' | translate}}" [formControl]="password"
                      required />
                    <mat-error *ngIf="password.invalid">{{ getErrorMessagenewPassword() | translate}}</mat-error>
                  </mat-form-field>
                </div>
                <!-- column -->
                <!-- <div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
                  <app-passoword-strength-bar [barLabel]="barLabel"></app-passoword-strength-bar>
                </div> -->
                <!-- column -->
              </div>
              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                  <mat-form-field>
                    <input matInput placeholder="{{'Enter your confirm password' | translate}}"
                      [formControl]="confirm_password" required />
                    <mat-error *ngIf="confirm_password.invalid">{{ getErrorMessageconfirmPassword() | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                  <div class="row">
                    <div class="col text-center"><button mat-raised-button color="primary"
                        [disabled]="!options.valid">{{'Update' | translate}}</button></div>
                    <!-- <div class="col text-end"><button mat-raised-button color="accent">{{'Back' | translate}}</button></div> -->
                  </div>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
