// .datatable,
// .datatable > div,
// .datatable.fixed-header .datatable-header .datatable-header-inner {
//   height: 100%;
// }
// @media (max-width: 576px) {
//   .cstmWidth{
//     width: 100% !important;
//   }
// }
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 90%;
}
