<div class="container-fluid slide1 bg-light">
  <div class="row">
    <div class="col mx-0 px-0">
      <div class="row mt-lg-5 mt-2 mb-2 mx-0 px-0 ps-lg-5 px-lg-5" style="height: 60vh;">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 fadeIn ps-5 pe-5">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                  <h5><u>Complaint Status</u></h5>
                </div>
              </div>
                <div class="row mt-3">
                  <div class="col">
                    <div class="row">
                      <div class="col-lg-2 col-xl-2 col-xxl-2 col-md-0 col-sm-0 col-xs-0"></div>
                      <div class="col-lg-8 col-xl-8 col-xxl-8 col-md-12 col-sm-12 col-xs-12">
                        <mat-form-field appearance="legacy">
                          <mat-label>Enter Registration Number</mat-label>
                          <input matInput placeholder="Ex. 31231243142342">
                        </mat-form-field>
                      </div>
                      <div class="col-lg-2 col-xl-2 col-xxl-2 col-md-0 col-sm-0 col-xs-0"></div>
                    </div>
                    <div class="row">
                      <div class="col text-center">
                        <button mat-raised-button color="primary">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-0 col-xs-0"></div>
      </div>
      <div class="footer" style="background-color: #0A66AB;">
        <div class="container-fluid w-100">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-12">
              <div class="wow fadeInLeft mt-3" data-wow-delay="0.1s">
                <div style="text-align:center;">
                  <strong style="color: white;">
                    <p><a href="/wss/PrivacyPolicy.jsp" style="color: white;">Privacy Policy</a> | <a
                        href="/wss/disclaimer.jsp" style="color: white;">Disclaimer</a> | <a
                        href="https://www.upcl.org/contact-us/" target="__blank" style="color: white;">Contact Us</a> | <a
                        href="/wss/FeedbackM.htm" style="color: white;">Online Services Feedback</a></p>
                  </strong>
                  <p><strong style="color: white;">©Copyright 2021- Uttarakhand Power Corporation Limited</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
