<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab mat-card-icon class="shadow-none bg-inverse bg-success">
              <mat-icon>account_circle</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0"><a [routerLink]="['/pages/table']" routerLinkActive="router-link-active" (click)="setTable('Total Connections')" >6</a></h3>
            <h6 class="text-muted m-0">{{'Total Connections' | translate}}</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="warn" mat-card-icon class="shadow-none bg-warning">
              <mat-icon>local_mall</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0"><a [routerLink]="['/pages/table']" routerLinkActive="router-link-active" (click)="setTable('Over Dues Connections')" >2</a></h3>
            <h6 class="text-muted m-0">{{'Over Dues Connections' | translate}}</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="accent" mat-card-icon class="shadow-none">
              <mat-icon>stars</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0"><a [routerLink]="['/pages/table']" routerLinkActive="router-link-active" (click)="setTable('Paid Connections')" >2</a></h3>
            <h6 class="text-muted m-0">{{'Paid Connections' | translate}}</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
              <mat-icon>content_paste</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0"><a [routerLink]="['/pages/table']" routerLinkActive="router-link-active" (click)="setTable('Domestic Connections')" >2</a></h3>
            <h6 class="text-muted m-0">{{'Domestic Connections' | translate}}</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
              <mat-icon>content_paste</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0"><a [routerLink]="['/pages/table']" routerLinkActive="router-link-active" (click)="setTable('Commercial Connections')" >2</a></h3>
            <h6 class="text-muted m-0">{{'Commercial Connections' | translate}}</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
              <mat-icon>content_paste</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0"><a [routerLink]="['/pages/table']" routerLinkActive="router-link-active" (click)="setTable('Pending Complaints')" >2</a></h3>
            <h6 class="text-muted m-0">{{'Pending Complaints' | translate}}</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <!-- Row -->
        <div class="d-flex no-block">
          <!-- column -->
          <div class="m-r-10 no-shrink">
            <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
              <mat-icon>content_paste</mat-icon>
            </button>
          </div>
          <!-- column -->
          <div>
            <h3 class="m-0"><a [routerLink]="['/pages/table']" routerLinkActive="router-link-active" (click)="setTable('Pending Service Request')" >2</a></h3>
            <h6 class="text-muted m-0">{{'Pending Service Request' | translate}}</h6>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
