<mat-card>
  <mat-card-content>
    <mat-card-title></mat-card-title>
    <div class="row mb-4">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12">
        <span class="">{{ 'Account' | translate }} : {{ rows[0].accountNumber }}</span>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-sm-12">
        <span class="">{{ 'SCNo' | translate }} : {{ rows[0].serviceConnNumber }}</span>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
          <mat-card-content>
            <!-- <mat-card-title>Form with grid</mat-card-title> -->
            <!-- <mat-card-subtitle
              >use this class <code>.row</code> to the fxLayout="row" and <code>p-10</code> to the
              fxFlex div</mat-card-subtitle -->
            <!-- > -->
            <!-- ============================================================== -->
            <!-- column -->
            <!-- ============================================================== -->
            <form class="basic-form" [formGroup]="options">
              <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                  <mat-form-field>
                    <mat-select
                      placeholder="{{ 'Select Service Request Type' | translate }}"
                      formControlName="complaintType" [(ngModel)]="complaintTypeModel"
                      (selectionChange)="changeSRType($event)"
                    >
                      <mat-option value="OTHER CUSTOMER SERVICES">{{
                        'OTHER CUSTOMER SERVICES' | translate
                      }}</mat-option>
                      <mat-option value="BILLING RELATED">{{
                        'BILLING RELATED' | translate
                      }}</mat-option>
                      <mat-option value="METERING RELATED">{{
                        'METERING RELATED' | translate
                      }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="complaintType.invalid">{{
                      getErrorMessagecomplaintType() | translate
                    }}</mat-error>
                  </mat-form-field>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                  <mat-form-field>
                    <mat-select
                      placeholder="{{ 'Select Service Request' | translate }}"
                      formControlName="complaint" [(ngModel)]="complaintModel"
                      (selectionChange)="changeSR($event)"
                    >
                      <mat-option *ngFor="let item of complaintsData" [value]="item.value">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="complaint.invalid">{{
                      getErrorMessagecomplaint() | translate
                    }}</mat-error>
                  </mat-form-field>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="25" fxFlex="100" class="p-10" *ngIf="billField === true">
                  <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="billMonthOrYearModel" formControlName="billMonthOrYear" />
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="billMonthOrYear.invalid">{{
                      getErrorMessagebillMonthOrYear() | translate
                    }}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex.gt-sm="25" fxFlex="100" class="p-10" *ngIf="tempConnField === true">
                  <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="tempDiconnectionS" formControlName="tempDiconnection" />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="tempDiconnection.invalid">{{
                      getErrorMessagetempDiconnection() | translate
                    }}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                  <mat-form-field>
                    <mat-select
                      placeholder="{{ 'Select Substation' | translate }}"
                      formControlName="subdtation" [(ngModel)]="subdtationModel"
                    >
                      <mat-option *ngFor="let item of changeSubstation" [value]="item.value">
                        {{ item.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="subdtation.invalid">{{
                      getErrorMessagesubdtation() | translate
                    }}</mat-error>
                  </mat-form-field>
                </div>
                <!-- column -->
                <div fxFlex.gt-sm="33.3" fxFlex="100" class="p-10">
                  <mat-form-field>
                    <textarea
                      matInput
                      placeholder="{{ 'Enter Description Here' | translate }}"
                      formControlName="complaint_Details"
                    ></textarea>
                    <mat-error *ngIf="complaint_Details.invalid">{{
                      getErrorMessagecomplaint_Details() | translate
                    }}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
                  <button mat-raised-button color="primary" [disabled]="!options.valid">
                    {{ 'Submit' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
